<div class="container w-50 mt-5 text-center">
  <div class="text-center display-3 m-3 text-white">
    Word Limit: {{ limit }}
  </div>

  <input
    type="range"
    min="1"
    max="50"
    value="{{ limit }}"
    class="slider form-control-range"
    (change)="handleSlideChange($event.target.value)"
  />

  <button (click)="generate()" class="btn btn-info">Generate Words</button>

  <button (click)="randomCountries()" class="btn btn-info m-3">Random Countries</button>

  <div *ngIf="words" class="card card-body">
    <p class="display-4">
      {{words}}
    </p>
  </div>

  
  <div *ngIf="countries" class="card card-body m-5">
    <p class="display-4">
      {{countries}}
    </p>
  </div>
</div>
